<div class="white-form-big row">
	<%= simple_form_for :set, { url: equipment_create_set_path } do |f| %>
		<div id="choosed-eq" class="span5 right-bar">
		  <div class="ui-widget-content">
		    <ul id="equip-list" class="sort2 connectedSortable">
		      <li class="loaded placeholder"><a></a></li>
		    </ul>
		  </div>
		</div>
		<div class="span5">
		  <div class="form-inline input-append">
		    <%= f.hidden_field :equipment_type_id %>

		    <%= f.input :equipment_type_name, :wrapper => :prepend, :label => false, :class => "span10" do %>
		      <%= f.input_field :equipment_type_name, placeholder: "input equipment type", :class => "equipment_type_select" %>
		      <a class="show_all_suggests btn" >Show all</a>
		    <% end %>
		  </div>

	 		<div id="equipment-choose-form">
	  	</div>
	  </div>
	<% end %>
</div>