<div class="gallery-header">
  <div class="title">
  	<%= link_to "New Equipment", new_equipment_path, :class => "btn btn-success pull-right" %>
		<p class="pull-left gallery-font">Equipment list</p>
  </div>
</div>
<div class="white-form">
	<% for equipment in @equipment %>
		<li>
			<%= link_to equipment.name, equipment %>
		</li>
	<% end %>
</div>