<div class="gallery-header">
  <div class="title row">
    <div class="span3">
			<%= link_to "<- Back to Gallery", @painting.gallery, :class => "btn btn-danger" %>
    </div>
    <div class="span6 gallery-font"><%= @painting.gallery.name %></div>
    <!--div class="span2 pull-right"><span class="pull-right">New Painting</span></div-->
  </div>
</div>

<%= render 'form' %>
