					<div id="demo">
					
						<!--
						################################
						    - Sliding Tabs / Start -
						################################
						-->
						<div id="slidingtabs" class="clean_rounded clean_rounded-horizontal">
							<div class="st_tabs">
								<a href="#" class="st_prev">prev</a><a href="#" class="st_next">next</a>
								<div class="st_tabs_wrap">
									<ul class="st_tabs_ul">
										<li class="st_li_first st_li_active"><a href="#aliquantum" rel="aliquantum" class="st_tab st_tab_1 st_tab_first st_tab_active">Aliquantum</a></li>
										<li><a href="#beneficium" rel="beneficium" class="st_tab st_tab_2">Beneficium</a></li>
										<li class="st_li_last"><a href="#elementum" rel="elementum" class="st_tab st_tab_3 st_tab_last">Elementum</a></li>
									</ul>
								</div>
							</div>
							<div class="st_views">
								<div class="aliquantum st_view st_view_first">
									<div class="st_view_inner">
										<h3 class="title">Aliquantum</h3>
										<p>Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim voluptatem non ultricies<span class="hide_3"> dicta sunt etiam eget<span class="hide_2"> mi enim, non ultricies nisi voluptatem vitae<span class="hide_1"> dicta sunt explicabo. architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem non ultricies dicta sunt etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis</span></span></span>.</p>
										<blockquote>
											<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis<span class="hide_3"> ligula. Vestibulum porta felis euismod ornare<span class="hide_2"> sem lacinia unde iste</span></span>.</p>
										</blockquote>
										<p class="second">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore<span class="hide_3"> veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo</span>.</p>
										<p class="last">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis top praesentium voluptatum delen atque. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo<span class="hide_1">, nemo enim ipsam voluptatem quia voluptas sit asperna. Etiam feugiat nunc ut nibh interdum tempus. Med ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</span>.</p>
									</div>
								</div>
								<div class="beneficium st_view">
									<div class="st_view_inner">
										<h3 class="title">Beneficium</h3>
										<p>Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim voluptatem non ultricies<span class="hide_3"> dicta sunt etiam eget<span class="hide_2"> mi enim, non ultricies nisi voluptatem vitae<span class="hide_1"> dicta sunt explicabo. architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem non ultricies dicta sunt etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis</span></span></span>.</p>
										<blockquote>
											<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis<span class="hide_3"> ligula. Vestibulum porta felis euismod ornare<span class="hide_2"> sem lacinia unde iste</span></span>.</p>
										</blockquote>
										<p class="second">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore<span class="hide_3"> veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo</span>.</p>
										<p class="last">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis top praesentium voluptatum delen atque. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo<span class="hide_1">, nemo enim ipsam voluptatem quia voluptas sit asperna. Etiam feugiat nunc ut nibh interdum tempus. Med ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</span>.</p>
									</div>
								</div>
								<div class="elementum st_view">
									<div class="st_view_inner">
										<h3 class="title">Elementum</h3>
										<p>Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim voluptatem non ultricies<span class="hide_3"> dicta sunt etiam eget<span class="hide_2"> mi enim, non ultricies nisi voluptatem vitae<span class="hide_1"> dicta sunt explicabo. architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem non ultricies dicta sunt etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis</span></span></span>.</p>
										<blockquote>
											<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis<span class="hide_3"> ligula. Vestibulum porta felis euismod ornare<span class="hide_2"> sem lacinia unde iste</span></span>.</p>
										</blockquote>
										<p class="second">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore<span class="hide_3"> veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo</span>.</p>
										<p class="last">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis top praesentium voluptatum delen atque. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo<span class="hide_1">, nemo enim ipsam voluptatem quia voluptas sit asperna. Etiam feugiat nunc ut nibh interdum tempus. Med ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</span>.</p>
									</div>
								</div>
							</div>
						</div>
						<!--
						##############################
						    - Sliding Tabs / End -
						##############################
						-->
						
						<div class="spinner">&nbsp;</div>					
					</div>