<!--div class="row">
	<div class="svg-path-menu span3">
			<label><input type='checkbox' id='showPath'>Show SVG Path</label>
			<br><br>
			<button id='addWalker'>Add Another</button>
			<div class='walkerController'>
				<button class='delete' title='Remove This Walker Instance'>&times;</button>
				<label>
					<input type='checkbox'>
					<button class='stopPlay'></button>
				</label>
				<label>
					<input type='checkbox'>
					<button class='reverse'></button>
				</label>
				<select>
					<option value=''>No Easing</option>
					<option value='Math.pow(t,3)'>easeInCubic</option>
					<option value='1-Math.pow(1-t,3)'>easeOutCubic</option>
					<option value='Math.pow(2,-10*t) * Math.sin((t-2/4)*(2*Math.PI)/2) + 1'>easeOutElastic</option>
					<option value='t*t'>easeInQuad</option>
					<option value='t*(2-t)'>easeOutQuad</option>
					<option value='t<.5 ? 2*t*t : -1+(4-2*t)*t'>easeInOutQuad</option>
					<option value='t<.5 ? 8*t*t*t*t : 1-8*(--t)*t*t*t'>easeInOutQuart</option>				
				</select>
				<br>
				<input class='speed' type="range" min="1" max="100" step="1" value="30">
				<span>Time (s)</span>
				<!<input class='speed' type='number'>>
			</div>
	</div>
	<div class='maze'>
		<div class='walker'>&#9654;</div>
		<object id='svgPath' data="path.svg" width="596" height="660" type="image/svg+xml"></object>
	</div>
</div-->

<!--%= javascript_include_tag "pathAnimator" %-->
<!--%= javascript_include_tag "main" %-->


<div id="mb_pattern" class="mb_pattern"></div>
	<div id="menu" class="menu">
		<a data-speed="1000" data-easing="easeInQuint">About</a>
		<a data-speed="1000" data-easing="easeOutBack">Gallery</a>
		<a data-speed="1000" data-easing="easeOutBack">News</a>
		<a data-speed="1000" data-easing="easeOutBack">Contact</a>
		<a data-speed="1000" data-easing="easeOutBack">Another</a>
	</div>
	<div id="container1" class="container1">

		<span class="close"></span>    <!-- Close Button -->

		<div class="content1">
			<h2>About</h2>
			<div class="content1_inner">
				<p>This menu is compatible with all major browsers. </p>
				<p>It works very well in IE8,9 Opera, Chrome, Safari, Firefox. I avoided round corners because I wanted to look the same in all browsers.</p> <!-- content1 Inner is the content1 that will be shown -->
				<p>
          <a class="read" href="#">
              Read More
          </a>
				</p>
			</div>
		</div>

		<div class="content1">
			<h2>Our Gallery</h2>
			<div class="content1_inner">
				<p>Here is a part of our Gallery. Share your opinion!</p>
				<ul id="image-list" class="image-list">
					<li><img src="../assets/1.jpg" alt="image1" /></li>
					<li><img src="/assets/2.jpg" alt="image2" /></li>
					<li><img src="/assets/3.jpg" alt="image3" /></li>
					<li><img src="/assets/4.jpg" alt="image4" /></li>
					<li><img src="/assets/5.jpg" alt="image2" /></li>
					<li><img src="/assets/6.jpg" alt="image1" /></li>
					<li><img src="/assets/7.jpg" alt="image4" /></li>
					<li><img src="/assets/8.jpg" alt="image3" /></li>
				</ul>
				<p>Vota pro valetudine mea suscipi per consules et sacerdotes quinto quoque anno senatus decrevit.</p>
				<p>Vota pro valetudine mea suscipi per consules et sacerdotes quinto quoque anno senatus decrevit.Vota pro valetudine mea suscipi per consules et sacerdotes quinto quoque anno senatus decrevit.Vota pro valetudine mea suscipi per consules et sacerdotes quinto quoque anno senatus decrevit.</p>
				<p>
	        <a class="read" href="#">
	            Read More
	        </a>
				</p>
			</div>
		</div>

		<div class="content1">
			<h2>News</h2>
			<div class="content1_inner">
				<p>Qui parentem meum [interfecer]un[t eo]s in exilium expuli iudiciis legitimis ultus eorum [fa]cin[us, e]t postea bellum inferentis rei publicae vici b[is a]cie.</p>
				<p>Capitolium et Pompeium theatrum utrumque opus impensa grandi refeci sine ulla inscriptione nominis mei. Rivos aquarum compluribus locis vetustate labentes refeci, et aquam quae Marcia appellatur duplicavi fonte novo in rivum eius inmisso.</p>
				<p>Duo et octoginta templa deum in urbe consul sextum ex auctoritate senatus refeci nullo praetermisso quod eo tempore refici debebat.</p>
				<p>
          <a class="read" href="#">
              Read More
          </a>
				</p>
			</div>
		</div>

		<div class="content1">
			<h2>Contact</h2>
			<div class="content1_inner">
				<form>
					<div><label>Email:</label><input type="text" /></div>
					<div><label>Message:</label><textarea></textarea></div>
					<div><button>Send</button></div>
				</form>
				<ul class="tt-container">
			<li><a class="tt-gplus" href="#"><span>Google+</span></a></li>
			<li><a class="tt-twitter" href="#"><span>Twitter</span></a></li>
			<li><a class="tt-dribbble" href="#"><span>Dribbble</span></a></li>
			<li><a class="tt-facebook" href="#"><span>Facebook</span></a></li>
			</ul>
			</div>
		</div>

		<div class="content1">
			<h2>Another</h2>
			<div class="content1_inner">
				<p>Qui parentem meum [interfecer]un[t eo]s in exilium expuli iudiciis legitimis ultus eorum [fa]cin[us, e]t postea bellum inferentis rei publicae vici b[is a]cie.</p>
				<p>Capitolium et Pompeium theatrum utrumque opus impensa grandi refeci sine ulla inscriptione nominis mei. Rivos aquarum compluribus locis vetustate labentes refeci, et aquam quae Marcia appellatur duplicavi fonte novo in rivum eius inmisso.</p>
				<p>Duo et octoginta templa deum in urbe consul sextum ex auctoritate senatus refeci nullo praetermisso quod eo tempore refici debebat.</p>
			</div>
		</div>

	</div>
</div>