<div class="walks white-form-big">
	<% for walk in @walks %>
		<div>
			<h3><%= link_to walk.name, walk_path(walk) %></h3>
			<small><%= walk.walk_type.name %>, <%= walk.category %> categ.</small>
		</div>
		<% if walk != @walks.last %><hr><% end %>
	<% end %>
</div>
<%= link_to "New Walk", new_walk_path %>