<div class="gallery-header">
  <div class="title">
  	<%= link_to "New Gallery", new_gallery_path, :class => "btn btn-success pull-right" %>
		<p class="pull-left gallery-font">Galleries</p>
  </div>
</div>
<div id='gallery-big' class="gallery-big">
	<ul id="gallery-big">
		<% for gallery in @galleries %>
  		<li class="loaded">
  			<% url = gallery.paintings.present? ? gallery.paintings.first.image.url : "bg2_bup.jpg" %>
  			<a href="<%= gallery.id %>">
          <%= image_tag(url, :alt=>"photo1 title") %>
  				<span class="caption simple-caption"><p><%= gallery.name %></p></span> </a>
  		</li>
		<% end %>
	</ul>
</div>
