<div class="gallery-header">
  <div class="title">
  	<%= link_to "<- Back to List", galleries_path, :class => "btn btn-danger pull-left" %>
		<p class="pull-right">New Gallery</p>
  </div>
</div>
<%= render 'form' %>
