<li>
	<fieldset>
	  <span class="product_weight setValue"></span>
	  <div class="choose_products_list">
	  	<div class="pcol_small"><%= link_to "x", '#', class: "remove_fields" %>
	  	</div>
	  	<div class="pname pcol_big">
	  	</div>
	  	<div class="pkcals pcol_medium">
	  	</div>
	  	<div class="pproteins pcol_medium">
	  	</div>
	  	<div class="pfats pcol_medium">
	  	</div>
	  	<div class="pcarbohydrates pcol_medium">
	  	</div>
	  </div>
	</fieldset>
	<hr/>
</li>