// Place all the styles related to the diets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-product-modal{
  width: 1000px;
  height:600px;
  overflow-y:auto;
  margin-left: -500px;
  /*color: white;
	background: -moz-linear-gradient(#3BBEFC,#46E1E7);
	background: -webkit-linear-gradient(#3BBEFC,#46E1E7);
	background: -o-linear-gradient(#3BBEFC,#46E1E7);*/
	border-radius: 5px;
}

.add-product-modal > div {
	padding: 60px 40px 30px;
	margin: 0;
	/*font-weight: 300;*/
	font-size: 1.15em;
}