// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
	color: rgb(255, 252, 252);
	font-size: 2em !important;
	font-weight: 900 !important;
  display: table-cell;
  vertical-align: middle;
}

#gallery-big{width:90%;margin-left: 7%;}
	#gallery-big li{
		list-style:none;
		perspective:100px;
		-webkit-perspective:100px;
		margin:10px;
		float:left;
		position:relative;
		transition:.1s;
		-webkit-transition:0.1s;
	}
		#gallery-big li.video::before{ content:'\25BA'; color:#FFF; font-size:20px; height:20px; width:20px; line-height:0.9; position:absolute; bottom:3px; left:4px; z-index:1; background:rgba(0,0,0,0.4); box-shadow:0 0 0 3px rgba(0,0,0,0.4); border-radius:0 3px 0 0; pointer-events:none; opacity:0; transition:.5s 0.2s; }
		#gallery-big li.loaded.video::before{ opacity:1; }
		#gallery-big a{ display:block; width:250px; height:200px; vertical-align:bottom; overflow:hidden; background:rgba(0,0,0,0.1);
					transition:.4s ease-out; -webkit-transition:0.4s ease-out; -webkit-transform:rotateX(90deg) translate(-50px,-50%); transform:rotateX(90deg) translate(-50px,-50%); }
		#gallery-big a:active, #gallery a:focus{ outline:none; }
		#gallery-big a img{ min-height:100%; width:100%; transition:.3s ease-out; -webkit-transition:0.3s ease-out; }
		#gallery-big .loaded a{ -webkit-transform:rotateX(0deg) translate(0,0); transform:rotateX(0deg) translate(0,0); }
			#gallery-big li.loaded:hover{ z-index:2; transform:scale(1.5); -webkit-transform:scale(1.5); }
			#gallery-big li.loaded a:hover{ box-shadow:0 0 0 2px #FFF, 0 0 20px 5px #000; transition:.1s; -webkit-transition:0.1s; }
			#gallery-big li.loaded:hover img{ transform:scale(1.2); -webkit-transform:scale(1.2); }
			#gallery-big li.loaded.video:hover::before{ opacity:0; }

.gallery-header{
	padding-left: 10px;
	padding-right: 10px;
	display: table;
	width: 98%;
	height: 50px;
	background-color: rgba(57, 97, 224, 0.55);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px
}

.gallery-font{
	font-family:"Times New Roman", Times, serif;
	font-style:oblique;
	text-align: center;
}

.loaded{
	overflow: hidden;
}

#gallery-big .caption{
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	color: #fff;
	z-index: 100;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
		transition: all 300ms ease-out;
	left: 0;
}

#gallery-big .simple-caption {  
  height: 30px;  
  width: 200px; 
  width: 100%; 
  display: block;  
  bottom: -30px;  
  line-height: 25pt;  
  text-align: center;  
}

#gallery-big .loaded:hover .simple-caption {  
  -moz-transform: translateY(-100%);  
  -o-transform: translateY(-100%);  
  -webkit-transform: translateY(-100%);  
  transform: translateY(-100%);  
} 

.create-gallery-form {
	width: 410px;
	margin: 50px auto;
	padding: 25px;
	background-color: rgba(250,250,250,0.5);
	border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 
    			inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.white-form{
	width: 410px;
	margin: 50px auto;
	padding: 25px;
	background-color: rgba(250,250,250,0.5);
	border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 
    			inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.white-form div{
	padding:10px;
}

.white-form-big{
	//margin: 50px auto;
	padding: 25px;
	background-color: rgba(250,250,250,0.5);
	border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 
    			inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.white-form-big div{
	padding:10px;
}

