<div id="slideout">
  <img src="http://img.usabilitypost.com.s3.amazonaws.com/1104/css_slideout/feedback.png" alt="Feedback" />
  <!--p style="-webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size:10px;">Menu</p-->
  <div id="slideout_inner">
    <div class="sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Tourist</li>
        <li><%= link_to "Personal Cabinet", personal_cabinet_index_path %></li>
        <li><%= link_to "Edit personal data", edit_user_registration_path %></li>
    	</ul>
    </div><!--/.well -->
  </div>
</div>